

.page {
   max-width: 1200px;   
   width: 100%;      
   margin: 0 auto;
   padding: 0 24px;
   box-sizing: border-box;   
}


body {
    width:60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;      
}


/* header section */


.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;  
    border-bottom: 1px solid gray;
    /* gap: 16px;          */
    /* padding: 10px 40px; */
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* banner section */
.banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    /* padding: 40px; */
}

.image img {
    width: 100%;
    max-width: 150px;   
    height: auto;
}

.content {
    flex: 1 1 500px;
}

.image {
    flex: 0 0 auto;
}


button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
button:hover{
    background: rgb(14, 73, 161);
    color: wheat;
}

button:active{
    background-color: purple;
    color: whitesmoke;
}

/* body section */


.box{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

/* card section */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    
}


.card {
    /* width: min(420px,100%); */
    /* padding: 16px 32px; */
    border-radius: 18px;
    text-align: center;
    position: relative;
    top: 60px;
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -40px;
    left: 120px;
   
}

.card h2 {
    font-size: 22px;
    margin-top: 40px;
}

.card h4 {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.blue {
    background-color: #e6f0fb;
}

.yellow {
    background-color:#fff3d6;
}


/* footer */


.footer {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 18px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.footer h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


.footer p {
    font-size: 15px;
    margin-bottom: 30px;
}


.row {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* margin-bottom: 20px; */
}

.row input {
    /* flex: 1 1 300px; */
    padding: 14px 15px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
    width: 100%;
}


.footer textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
     border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    height: 120px;

    /* height: 120px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
    margin-bottom: 25px; */
}

.footer button {
    padding: 14px 28px;
    background-color:purple;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
       margin-top: 20px;
}

.footer button:hover {
    background-color:rgb(14, 73, 161);
}




